.list {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100vh;
    position: relative;

    @media (max-width: 768px) {
        display: flex;
        align-items: stretch;
        justify-items: start;
        width: 100%;
        height: calc(100% - 50px);
        position: relative;
        flex-direction: column;
    }
}
