.btn {
    position: absolute;
    top: -40px;
    left: calc(50% + 30px);
    background: transparent;
    border: none;
    outline: none;
}

.icon {
	width: 30px;
    height: 30px;
    color: #9a9a9a;
}
