.currentUrl {
    padding: 0px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    color: #e5e3e3;
    font-size: 20px;
	margin-bottom: 15px;
}