.openBtn {
    position: absolute;
    bottom: 300px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    padding: 4px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: transparent;
    transition: all 0.3s ease;

    &:hover {
        background: #0202021a;
        cursor: pointer;
    }
}

.icon {
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
    .openBtn {
        left: 50%;
        transform: translateX(100%);
    }
}