.reloadBtnMobile {
    position: absolute;
    top: -40px;
    left: calc(50% - 100px);
    display: none;
    background: transparent;
    border: none;
    outline: none;
}

.reloadIcon {
    width: 30px;
    height: 30px;
    color: #9a9a9a;
}

@media (max-width: 768px) {
    .reloadBtnMobile {
        display: block;
    }
}