* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 300px;
}

.colors {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.controls {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #735576 0%, #282727f9 90%, #232323 100%);
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h2 {
        font-size: 34px;
        padding: 20px;
        color: #fff;
        border-radius: 10px;
        transition: all 0.3s ease;
        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.lock-btn {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: none;
    outline: none;
	border-radius: 10px;
    padding: 20px;
	transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .icon {
        font-size: 36px;
        font-family: icons;
        color: inherit;
        pointer-events: none;
    }


}

.lockIcon {
    width: 50px;
    height: 50px;
}