* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.colorsList {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100vh;
    position: relative;
}

.controls {
    width: 100%;
    height: 300px;
    background-color: #735576;
    background: linear-gradient(180deg, #735576 0%, #282727 90%, #232323 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    position: absolute;
    left: 0;
    bottom: 0;
}

.controls.animated {
    bottom: -300px;

    &.show {
        bottom: 0;
    }
}

.controlsContainer {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #99779c;
    box-shadow: 2px 2px 20px -2px #0000002e;
    color: #fff;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: #ab84ae;
    }

    &:active {
        scale: 0.97;
    }
}

.reloadBtn {
    width: 100%;
    max-width: 30vw;
    min-width: 250px;
}

.reloadBtnMobile {
    position: absolute;
    bottom: 15px;
    left: calc(50% - 100px);
    display: none;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        justify-content: start;
        background: linear-gradient(180deg, #735576 0%, #282727 90%, #232323 100%);
    }
    .colorsList {
        display: flex;
        align-items: stretch;
        justify-items: start;
        width: 100%;
        height: calc(100dvh - 50px);
        position: relative;
        flex-direction: column;
    }

    .reloadBtnMobile {
        display: block;
    }
}
