* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

.colors {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100vh;
    position: relative;
}

.controls {

    width: 100%;
    height: 300px;
    background-color: #735576;
    background: linear-gradient(180deg, #735576 0%, #282727f9 90%, #232323 100%);
    background: linear-gradient(180deg, #735576 0%, #282727 90%, #232323 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    position: absolute;
    left: 0;
    bottom: 0;
}

.controls.animated {
    bottom: -300px;

    &.show {
        bottom: 0;
    }
}

.controlsContainer {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.currentUrl {
    padding: 0px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;

    input {
        width: 100%;
        height: 50px;
        padding: 10px 0;
        border-radius: 10px;
        border: none;
        outline: none;
        background: transparent;
        font-size: 20px;
        color: #e5e3e3;
        transition: all 0.3s ease;
    }

    p {
        color: #e5e3e3;
        font-size: 20px;
    }
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
    h2 {
        font-size: 34px;
        padding: 20px;
        color: #fff;
        border-radius: 10px;
        margin-bottom: 20vh;
        transition: all 0.3s ease;
        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.lock-btn {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .icon {
        font-size: 36px;
        font-family: icons;
        color: inherit;
        pointer-events: none;
    }
}

.lockIcon {
    width: 50px;
    height: 50px;
}

.btn {
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #99779c;
    box-shadow: 2px 2px 20px -2px #0000002e;
    color: #fff;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: #ab84ae;
    }

    &:active {
        scale: 0.97;
    }
}

.reloadBtn {
    width: 100%;
    max-width: 30vw;
    min-width: 250px;
}

.openControlsBtn {
    position: absolute;
    bottom: 300px;
    right: 0;
}


